.TableDiv{
    width: 500px;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 10px;
}
.DataTable{
    width: 262px;
    height: inherit;
    background-color: lightblue;
}
.TableHeaders{
    border: 2px solid red;
}
table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
}
td > a{
    text-decoration: none;
    color: black;
}
tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #6c6ade}
th {
    background-color: #4CAF50;
    color: white;
}
img{
    width: 100px;
    height: 92px;
}