.DeleteForm{
    border: 2px solid gold;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 300px;
    height: 138px;
    background-color: #f0ad4e;
    margin: auto;
    margin-top: 10px;
}
.DeleteForm > p{
    color: blue;
    text-align: center;
}
.race_input{
    border: 2px solid navy;
    width: 94px;
    margin-left: 7.25em;
    margin-top: 5px;
    border-radius: 16px;
}
.submit_button{
    border: 2px solid navy;
    width: 94px;
    margin-left: 7.25em;
    margin-top: 5px;
    border-radius: 16px;
    background-color: aquamarine;
}